{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To PeopleCart...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
<p>

        Welcome to PeopleCart, your go-to destination for a seamless and enjoyable online shopping experience. We are a small yet dedicated team passionate about connecting people with the products they love. Whether you're shopping for the latest trends, everyday essentials, or special gifts, PeopleCart has you covered.

        Our mission is simple: to bring convenience and quality right to your fingertips. We strive to offer a carefully curated selection of products, ensuring that you always find something that suits your needs.

        As we continue to grow, we remain committed to providing you with excellent customer service, secure transactions, and a user-friendly shopping experience. With PeopleCart, you can trust that your satisfaction is our top priority.

        Thank you for choosing PeopleCart. Happy shopping!

</p>
</p>

    </div>
        </center>
    </div>
</div>

{% endblock %}